@charset "UTF-8";

body{
	background : beige;
}

*{
	margin : 0;
	padding : 0;
}

div{
	width : 460px;
	margin : 30px auto;

}

li{
	list-style : none;
	margin : 15px 0 ;
}

label{
	line-height:30px;
}

.memberEnroll{
	text-align:center;
	position: relative;
}

button{
	font-size : 20px;
	cursor:pointer;
	display: block;
	background-color: #090;
	color:white;
	border : 0px solid #090;	
	padding : 10px;
	width: -webkit-fill-available;
	
}
	


input{
	height : 40px;
}

form{
	text-align: left;
}

#btn-security{
	float: right;
	padding : 10px;
	margin-right:20px;
	width : auto;
	font-size : 15px;
	
}

.memberEnroll input[type="radio"] {
	position: absolute; 
	margin-left : 15px;
	
}

#type {
	margin-left:40px;
	line-height : 40px;
	
}







