@charset "UTF-8";

:root{
  --skyblue:#B0C4DE;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;

  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--skyblue);
  color: 	#B0C4DE;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  background:	#B0C4DE;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:2rem 9%;
 
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:rgba(176, 196, 222,.7);
  color:#1C3145;
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}

.logo img{
	margin-left: -101px;
    margin-bottom: -50px;
    width: 115%;
    margin-top : -20px;
}


header .navbar a{
  color:#fff;
  font-size: 3rem;
  margin:0 3rem;
 
}

header .navbar a:hover{
  color:#1C3145;
  text-shadow : 
}

header .icons i{
  font-size: 4rem;
  color: white;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: 40%;

}

header .icons i:hover{
  color:#1C3145;
}



.login-form-container{
	position : fixed;
	top:-120%; left:0;
	min-height : 100vh;
	width : 100%;
	background : rgba(0,0,0, .4);
	display : flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	
}

.login-form-container.active{
  top:0;
}


.login-form-container form{
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  background:#fff;
  width:50rem;
}

.login-form-container form h3{
  font-size: 7.5rem;
  color:#444;
  text-transform: uppercase;
  text-align: center;
  padding:1rem 0;
  
}

.login-form-container form .box{
  width:100%;
  padding:1rem;
  font-size: 1.7rem;
  color:#333;
  margin:.6rem 0;
  border:.1rem solid rgba(0,0,0,.3);
  text-transform: none;
}

.login-form-container form .box:focus{
  border-color: var(--skyblue);;
}


.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn{
  display: block;
  width:100%;
}

.login-form-container form p{
  padding:.5rem 0;
  font-size: 1.5rem;
  color:#666;
}

.login-form-container form p a{
  color:var(--skyblue);
}

.login-form-container form p a:hover{
  color:#333;
  text-decoration: underline;
}

.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

