<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="psboardSQL">
	
	<select id="selectBoardList" resultType="com.kh.camp.board.model.vo.PsBoard">
	SELECT PS.*,(SELECT COUNT(*) FROM ATTACHMENT WHERE NNO = PS.NNO) FILECOUNT
	FROM PSBOARD PS
	ORDER BY NDATE DESC, NNO DESC
	</select>
	
	<select id='selectBoardTotalContents' resultType="int">
			SELECT COUNT(*) FROM PSBOARD
	</select>
	
	<select id="insertBoard" parameterType="PsBoard">
		INSERT INTO PSBOARD(NNO,AFNO,CMAP,NO, NTITLE, NCONTENT,NDATE, NWRITER)
		VALUES (SEQ_NNO.NEXTVAL, #{ afNo },  #{ nTitle }, #{ nContent }, #{ nWriter} )
	</select>
	
	<select id="insertAttachment" parameterType="Attachment">
		INSERT INTO ATTACHMENT VALUES (SEQ_AFNO.NEXTVAL, #{ nNo }, #{ oldName }, #{ newName}, 'Y' )
	</select>
	
	<select id="selectOneBoard" parameterType="int" resultType="PsBoard">
		SELECT * FROM PSBOARD WHERE NNO = #{ nNo }
	</select>
	
	<select id="selectAttachmentList" parameterType="int" resultType="Attachment">
		SELECT * FROM ATTACHMENT WHERE PSBOARD = #{ nNo ]
	</select>
	
	<select id="updateReadCount" parameterType="int" >
		UPDATE PSBOARD SET PSBOARDREADCOUNT = PSBOARDERCOUNT + 1 WHERE NNO = #{ nNo }
	</select>
	<!-- Access to #{ field } -->
</mapper>
